html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.home {
  &__title {
    margin: 5rem 0 0 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }

  &__options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0 0 0;
  }

  &__join,
  &__host {
    display: flex;
    //flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 10rem;
    //gap: 1rem;
    //padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;

    /* background: linear-gradient(-45deg, #ffffff, #c7c7c7, #777777, #8f8f8f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: unset;
      background-color: rgb(192, 192, 192);
      color: #000;
      box-shadow: 0.5rem 0.5rem;
      /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite; */
    }
  }

  &__subtitle {
    margin: 2rem 0 0 0;
    line-height: 1.15;
    font-size: 1.5rem;
    text-align: center;
  }

  &__comments {
    margin: 1rem 0 0 0;
    line-height: 1.15;
    font-size: 1.5rem;
    text-align: center;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.navbar {
  display: flex;
  width: 100%;
  height: 50px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 40px);
    height: 50px;
    background-color: #000;
    top: 0;
    left: 0;
    padding: 0 20px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(192, 192, 192);
  }

  &__name {
    font-size: 15px;
    font-weight: 500;
    color: rgb(192, 192, 192);
  }

  &__status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a,
    button {
      height: 30px;
      border-radius: 5px;
      width: 5rem;
    }
  }
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 5rem 0 0 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0 0 0;
    width: 30%;
    min-width: 25rem;
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: unset;

    &:hover {
      color: rgb(192, 192, 192);
      box-shadow: 0.5rem 0.5rem;
    }

    &__label {
      margin: unset;
    }

    &__input {
      width: 100%;
      height: 2rem;
      border-radius: 5px;
      border: 1px solid #000;
      padding: 0 0.5rem;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: unset;
    background-color: rgb(192, 192, 192);

    &:hover {
      background-color: rgb(192, 192, 192);
      color: #000;
      box-shadow: 0.5rem 0.5rem;
    }
  }
}

.room-list {
  &__title {
    margin: 5rem 0 0 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }

  &__room {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 10rem;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgb(192, 192, 192);
      color: #000;
      box-shadow: 0.5rem 0.5rem;
    }

    &--locked {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: not-allowed;

      &:hover {
        div,
        h3 {
          opacity: 1;
        }
      }
    }

    &__title {
      margin: unset;
    }

    &__lock {
      height: 2rem;
      width: 2rem;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &__warning {
      text-align: center;
      height: 2rem;
      font-size: 1rem;
      font-weight: 500;
      color: #000;
      margin: unset;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 4rem;
      gap: 1rem;
    }
  }
}

.game-room {
  &__title {
    margin: 5rem 0 0 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }

  &__subtitle {
    margin: 3rem 0 0 0;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;
  }

  &__name {
    margin: 1rem 0 0 0;
    line-height: 1.15;
    font-size: 1rem;
    text-align: center;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
